#parse("admin/header.html")

	<input id="servo" type="range" name="points" min="-90" max="90">
	<span id="value"></span>
<br/>

#foreach( $x in ["1", "2", "3", "4"])
	$x 
	<input id="$x" value="0"><input id="${x}_dur" value="10"><input name="$x" type="button" value="Set" class="btn"/>
	<br/>
#end
<br/>

<a href="index.html">Tillbaka till start</a>
#parse("admin/footer.html")
<script>
	$(document).ready(function() {
		$("#servo").change(function() {
			var v = $("#servo").val();
			setServoValue(v, 500);
		});
		$(".btn").click(function() {
			var id = $(this).attr("name");
			var val = $("#" + id).val();
			var dur = $("#" + id + "_dur").val();
			setServoValue(val, dur);
		});
	});
	function setServoValue(v, d) {
			$.ajax({
					  url: "servo.json",
					  data: {
					  	value: v,
					  	duration d
					  }
					}).done(function() {
  						
					});
				$("#value").html(v);
				$("#servo").val(v);
				
	}
</script>